# API Keys (Required to enable respective provider)
ANTHROPIC_API_KEY="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"       # Required: Format: sk-ant-api03-...
PERPLEXITY_API_KEY="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"     # Optional: Format: pplx-...
OPENAI_API_KEY="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"             # Optional, for OpenAI/OpenRouter models. Format: sk-proj-...
GOOGLE_API_KEY="AIzaSyAq8lqDis8R2b4mKc6R3KTF92wVTW1M6lQ"             # Optional, for Google Gemini models.